<section class="section signin">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column robot is-hidden-touch">
        <img class="floating" src="assets/images/spaced-machine.png" width="350"/>
      </div>
      <div class="column card">
        <div class="card-content">
          <img src="assets/images/success-brain.png" width="150"/>
          <div class="form">
            <p>Acesse sua conta através do seu usuário e senha</p>
            <div class="field">
              <div class="control">
                <label for="email">E-mail</label>
                <input id="email" class="input" type="text">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label for="password">Senha</label>
                <input id="password" class="input" type="password">
              </div>
            </div>
            <button class="button">Entrar</button>
          </div>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              <a>Esqueci a senha</a>
            </span>
          </p>
          <p class="card-footer-item">
            <span>
              <a>Cadastre-se</a>
            </span>
          </p>
        </footer>
      </div>
    </div>
  </div>
</section>
