<footer>
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column has-text-centered">
        <img src="assets/images/flame-education.png" width="200"/>
      </div>
      <div class="column">
        <p><strong>Links úteis</strong></p>
        <p><a routerLink="">home</a></p>
        <p><a href="">entrar em contato</a></p>
        <p>Todas as ilustrações são de autoria de <a href="https://dribbble.com/thierryfousse" target="_blank">Thierry Fousse</a> e podem ser encontadas no site <a href="https://icons8.com" target="_blank">Ouch!</a></p>
        <p><strong>elobrain</strong> é uma plataforma desenvolvida por <a href="https://www.linkedin.com/in/guilherme-uezima/" target="_blank">Guilherme Uezima</a></p>
      </div>
    </div>
  </div>
</footer>
