<section class="section" id="introduction">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <h1 class="title">Aprenda qualquer coisa de verdade!</h1>
        <h2 class="subtitle">
          A plataforma <strong>elobrain</strong> irá te ajudar a aprender um novo idioma
        </h2>
      </div>

      <div class="column has-text-centered" id="flame-sign-up">
        <img width="550" src="../../../assets/images/flame-sign-up.png" alt="Desenho de uma pessoa com óculos de realidade aumentada preenchendo uma folha"/>
      </div>
    </div>
  </div>
</section>

<section class="section" id="spaced-learning-explanation">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column has-text-centered">
        <img class="no-connection" width="350" src="../../../assets/images/no-connection.png"/>
      </div>
      <div class="column">
        <p class="title">Esqueci!</p>
        <p class="description"><strong>As vezes passamos horas estudando algo e dias depois não lembramos mais nada</strong>, como em uma prova, apresentação ou em um novo idioma.</p>
        <p class="description">Isso ocorre pois nosso cérebo esquece algumas coisas <strong>propositalmente</strong>, principalmente as que ele julga que não são importantes!</p>
      </div>
    </div>
  </div>
</section>
