@import "../../../styles/variables";

#introduction {
  background-color: $primary;

  .container {
    margin-top: 6em;
  }

  h1 {
    font-size: 2.9em;
    margin-bottom: 1.2em;
  }

  h2 {
    font-size: 1.4em;
  }

  h2, h3 {
    font-weight: 100;
  }

  h1, h2, h3, strong {
    color: #FFFFFF;
  }
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }
}


#spaced-learning-explanation {
  margin-top: 2em;
  text-align: justify;

  .title {
    margin-bottom: 1.5em;
    font-size: 2em;
    font-weight: 700;
  }

  .description{
    margin-top: 1.5em;
    font-size: 1.2em;
    font-weight: 200;
  }
}
