<section class="section" id="introduction">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <h1 class="title">Aprenda qualquer coisa de verdade!</h1>
        <h2 class="subtitle">
          A plataforma <strong>elobrain</strong> irá te ajudar a aprender um novo idioma
        </h2>
      </div>

      <div class="column has-text-centered" id="flame-sign-up">
        <img width="550" src="assets/images/flame-sign-up.png" alt="Desenho de uma pessoa com óculos de realidade aumentada preenchendo uma folha"/>
      </div>
    </div>
  </div>
</section>

<section class="section" id="forgot-it">
  <app-explanation [explanation]="explanation"></app-explanation>
</section>

<section class="section" id="power-brain">
  <div class="container">
    <div class="has-text-centered">
      <p class="title">Aprendizagem por repetição ... o quê?!!</p>
      <p class="description">Estudos indicam que a cada revisão, a curva de esquecimento começa a ficar cada vez mais estável, consolidando e prolongando aquele aprendizado em nossa memória cada vez por mais tempo!</p>
      <div class="chart-wrapper">
        <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
  </div>
</section>

<section class="section" id="success-steps">
  <app-inline-topic [inlineTopics]="inlineTopics"></app-inline-topic>
</section>
