<section class="section" id="introduction">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <h1 class="title">Aprenda qualquer coisa de verdade!</h1>
        <h2 class="subtitle">
          A plataforma <strong>elobrain</strong> irá te ajudar a aprender um novo idioma
        </h2>

        <h3>Utilizando a técnica de <strong>aprendizado por repetição espaçada</strong> você tornará seu cérebro uma verdadeira máquina de lembrar tudo!</h3>
      </div>

      <div class="column" id="flame-sign-up">
        <img class="floating" width="550" src="../../../assets/images/flame-sign-up.png" alt="Desenho de uma pessoa com óculos de realidade aumentada preenchendo uma folha"/>
      </div>
    </div>
  </div>
</section>
