@import "../../../styles/variables";

#introduction {
  background-color: $primary;

  .container {
    margin-top: 6em;
  }

  h1 {
    font-size: 2.9em;
    margin-bottom: 1.2em;
  }

  h2 {
    font-size: 1.4em;
  }

  h2,
  h3 {
    font-weight: 100;
  }

  h1,
  h2,
  h3,
  strong {
    color: #ffffff;
  }
}

#forgot-it {
  margin-top: 2em;
  text-align: justify;
}

#power-brain {
  background-color: $neutral;
  margin-top: 2em;

  .title {
    margin-bottom: 1.5em;
    font-size: 2em;
    font-weight: 700;
  }

  .description {
    margin-top: 1.5em;
    font-size: 1.2em;
    font-weight: 200;
  }

  .chart-wrapper {
    margin-top: 3em;
  }
}

#success-steps {
  margin-top: 2em;
}
