@import "../../../styles/variables";

#introduction {
  background-color: $primary;
}

#forgot-it {
  margin-top: 2em;
}

#power-brain {
  background-color: $neutral;
  margin-top: 2em;

  .title {
    margin-bottom: 1.5em;
    font-size: 2em;
    font-weight: 700;
  }

  .description {
    margin-top: 1.5em;
    font-size: 1.2em;
    font-weight: 200;
  }

  .chart-wrapper {
    margin-top: 3em;
  }
}

#success-steps {
  margin-top: 2em;
}
