@font-face {
    font-family: 'Comfortaa';
    src: url(assets/fonts/comfortaa/Comfortaa-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

// Bold

@font-face {
    font-family: 'Comfortaa';
    src: url(assets/fonts/comfortaa/Comfortaa-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Comfortaa';
    src: url(assets/fonts/comfortaa/Comfortaa-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

// Medium

@font-face {
    font-family: 'Comfortaa';
    src: url(assets/fonts/comfortaa/Comfortaa-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

// Regular

@font-face {
    font-family: 'Comfortaa';
    src: url(assets/fonts/comfortaa/Comfortaa-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

// Light

@font-face {
    font-family: 'Comfortaa';
    src: url(assets/fonts/comfortaa/Comfortaa-Light.ttf);
    font-style: normal;
    font-weight: 300;
}