<aside class="menu">
  <p class="menu-label">
    ESTUDOS
  </p>
  <ul class="menu-list">
    <li><a>Atividades do dia</a></li>
    <li><a>Desempenho</a></li>
  </ul>
  <ul class="menu-list">
    <li><a>Criar Baralho</a></li>
  </ul>
  <p class="menu-label">
    BARALHOS DE CARTÕES
  </p>
  <ul class="menu-list">
    <li>
      <a class="is-active">Inglês</a>
      <ul>
        <li><a>Adicionar Cartões</a></li>
        <li><a>Editar Baralho</a></li>
        <li><a>Excluir</a></li>
      </ul>
    </li>
  </ul>
</aside>
