<section class="section" id="introduction">
  <app-big-title [bigTitle]="bigTitle"></app-big-title>
</section>

<section class="section" id="success-steps">
  <app-inline-topic [inlineTopics]="inlineTopics"></app-inline-topic>
</section>

<section class="section" id="forgot-it">
  <app-explanation [explanation]="forgotItExplanation"></app-explanation>
</section>

<section class="section" id="power-brain">
  <div class="container">
    <div class="has-text-centered">
      <p class="title">Aprendizagem por repetição ... o quê?!!</p>
      <p class="description">Estudos indicam que a cada revisão, a curva de esquecimento começa a ficar cada vez mais estável, consolidando e prolongando aquele aprendizado em nossa memória cada vez por mais tempo!</p>
      <div class="chart-wrapper">
        <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
  </div>
</section>

<section class="section" id="sign-up-call">
  <app-explanation [explanation]="signUpCall"></app-explanation>
</section>
